<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SScheduler.Properties.Settings.db143275ConnectionString"
            connectionString="Data Source=sowa;Initial Catalog=db143275;User ID=st143275;Password=p143275"
            providerName="System.Data.SqlClient" />
        <add name="SScheduler.Properties.Settings.db143275ConnectionString1"
            connectionString="Data Source=148.81.130.59;Initial Catalog=db143275;User ID=st143275;Password=p143275"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>